@model IEnumerable<ThaLeague.Models.Artist>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    int counter = 0;
}
<style>
    .container1 {
        position: relative;
        width: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #212529;
    }

    .artist:hover .overlay {
        opacity: 50;
    }

    .text {
        color: white;
        font-size: 64pt;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: 'Frijole', cursive;
    }
    .img-fluid {
        border-radius: 100%;
    }
    .h3 {
        font-size: 64px;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Artist" asp-action="Create" class="btn btn-outline-danger">Create New</a>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
              if (counter != 0 && counter % 3 == 0)
              {
                   @:</div>
                   @:<div class="row">
              }
            <div class="col-md-4">
                <a asp-action="Details" asp-route-id="@item.ArtistId">
                    <div class="d-inline p-2">
                        <div class="container1 artist">
                            <img class="img-fluid" src="~/images/@item.Image" style="width: 350px; height: 250px; object-fit: cover;">
                            <div class="overlay">
                                <div class="text"><h3>@Html.DisplayFor(modelItem => item.StageName)</h3></div>
                            </div>
                        </div>
                    </div>
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ArtistId">Delete</a>
                }
            </div>
        }
    </div>
</div>
